{%extends 'base.html' %}

{%block title%}
Add Vehicle
{%endblock title%}

{%block body %}


<div class='container-fluid my-3 py-4'>
<h1 class= 'text-center'>Add A New Vehicle</h1>
</div>
<div class = "container">
    <!--<div class="mb-3">
        <label for="name" class="form-label"> Vehicle Name</label>
        <input type="text" class="form-control" id="name" name='name' placeholder="Enter Vehicle Name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Vehicle Description</label>
        <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="photo" class="form-label">Please Upload A Picture</label>
    </div> -->
        
        <form action="/addvehicle" method="post" enctype="multipart/form-data">
           
            {% csrf_token %}
            {{form}}
           
        <div class="p-3">  
        <input type="submit" class="btn btn-primary" value="Submit">
        </div>
        </form>   
    </div>
</div>
{%endblock body%}